[submodule "Razor/vendor/spdlog"]
	path = Razor/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Razor/vendor/GLFW"]
	path = Razor/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Razor/vendor/imgui"]
	path = Razor/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Razor/vendor/glm"]
	path = Razor/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Razor/vendor/yaml-cpp"]
	path = Razor/vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp
[submodule "Razor/vendor/ImGuizmo"]
	path = Razor/vendor/ImGuizmo
	url = https://github.com/TheCherno/imguizmo
[submodule "Razor/vendor/Box2D"]
	path = Razor/vendor/Box2D
	url = https://github.com/TheCherno/box2d
